//this sets the values to grab images from the top line (L1)
$marioWidthL1: 30px;
$marioHeightL1: 60px;
$marioSizeL1: 778% 390%;
$marioVPositionL1: 4.5%;

//this sets the values to grab images from the bottom line (L4)
$marioWidthL4: 30px;
$marioHeightL4: 20px;
$marioSizeL4: 778% 670%;
$marioVPositionL4: 92.5%;

//this sets the transition time to be used for every frame
$marioTransitionTime: 0.3s;

//this will reset all values to have the animation in the original horizontal side
@mixin originalH(){
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: none;
}

//this will flip the image horizontally
@mixin flippedH(){
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

//this will be used to show the default image in the container
@mixin mariodefault() {
    width: $marioWidthL1;
    height: $marioHeightL1;
    background-size: $marioSizeL1;
    background-position: 96% $marioVPositionL1;
}
//this will be used to show the run 1 image in the container
@mixin mariorun1() {
    width: $marioWidthL1;
    height: $marioHeightL1;
    background-size: $marioSizeL1;
    background-position: 5% $marioVPositionL1;
}

//this will be used to show the run 2 image in the container
@mixin mariorun2() {
    width: $marioWidthL1;
    height: $marioHeightL1;
    background-size: $marioSizeL1;
    background-position: 23% $marioVPositionL1;
}

//this will be used to show the run 3 image in the container
@mixin mariorun3() {
    width: $marioWidthL1;
    height: $marioHeightL1;
    background-size: $marioSizeL1;
    background-position: 42% $marioVPositionL1;
}

//this will be used to show the jump image in the container
@mixin mariojump() {
    width: $marioWidthL1;
    height: $marioHeightL1;
    background-size: $marioSizeL1;
    background-position: 77% $marioVPositionL1;
}

//this will be used to show the change direction image in the container
@mixin mariochangedirection() {
    width: $marioWidthL1;
    height: $marioHeightL1;
    background-size: $marioSizeL1;
    background-position: 59% $marioVPositionL1;
}
@mixin mariodeath() {
    width: $marioWidthL4;
    height: $marioHeightL4;
    background-size: $marioSizeL4;
    background-position: 440% $marioVPositionL4;
}


