.animation{
    //movement by width change
    $currWidth: 300px;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 50px;
            left: 3%;
            @include mariojump();
        }
        #building-1{
            left:100%;
        }
    }

    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 75px;
            left: 6%;
            @include mariojump();
        }
        #building-1{
            left:90%;
        }
    }
    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 75px;
            left: 6%;
            @include mariojump();
        }
        #building-1{
            left:80%;
        }
    }
    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 100px;
            left: 9%;
            @include mariojump();
        }
        #building-1{
            left:70%;
        }
    }
    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 109px;
            left: 12%;
            @include flippedH();
            @include mariochangedirection();
        }
        #building-1{
            left:0%;
        }
    }
    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 109px;
            left: 12%;
            @include flippedH();
            @include mariodefault();
        }
        #ufo{
            opacity: .5;
        }
    }
    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #ufo{
            opacity: 1;
        }
    }
    $currWidth: $currWidth + 5px;
    @media screen and (min-width: $currWidth){
        #ufo{
            opacity: 1;
        }
        #beam{
            background: blue;
        }
    }
}