.animation{
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 50px;
            left: 3%;
            @include mariojump();
        }
        #building-1{
            left:100%;
        }
    }

    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 75px;
            left: 6%;
            @include mariojump();
        }
        #building-1{
            left:90%;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 75px;
            left: 6%;
            @include mariojump();
        }
        #building-1{
            left:80%;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 100px;
            left: 9%;
            @include mariojump();
        }
        #building-1{
            left:70%;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 109px;
            left: 12%;
            @include flippedH();
            @include mariochangedirection();
        }
        #building-1{
            left:0%;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 109px;
            left: 12%;
            @include flippedH();
            @include mariodefault();
        }
        #ufo{
            opacity: .5;
        }
        #building-2,
        #building-3,
        #building-4{
            left:0%;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #ufo{
            opacity: 1;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #ufo{
            opacity: 1;
        }
        #beam{
            background: blue;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            @include mariodeath();
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 120px;
        }
        #beam{
            background: transparent;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 50px;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            bottom: 0px;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #mario{
            display: none;
        }
    }
    $currWidth: $currWidth + $increment;
    @media screen and (min-width: $currWidth){
        #beam{
            background-image: url(../images/star-wars_po-zu_porg-sneakers.png);
            background-size: 100% auto;
        }
    }

}