.main {
  min-width: 300px; }

.animation {
  min-height: 600px;
  min-width: 300px;
  position: relative;
  overflow: hidden; }
  .animation .spacer-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0; }
  .animation #hidden-spacer {
    opacity: 0; }
  .animation #beam {
    border: 1px solid black;
    background: blue; }
  .animation .everything-else-container {
    z-index: 1; }
  .animation .building {
    border: 1px solid black;
    width: 100%;
    padding: 20%;
    background: green;
    position: relative; }
  .animation .air-container {
    padding: 30%; }
  .animation #ground {
    border: 1px solid black;
    background-color: green;
    width: 100%;
    padding: 5%; }

footer {
  border: 1px solid black; }
