.main {
  min-width: 350px; }

.animation {
  min-width: 350px;
  position: relative;
  overflow: hidden; }
  .animation #beam {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    background: green;
    transition: opacity 0.3s; }
  .animation #ufo {
    opacity: 0;
    transition: opacity 0.3s; }
  .animation .everything-else-container {
    z-index: 1; }
  .animation .building {
    border: 1px solid black;
    width: 100%;
    padding: 30px;
    background: green;
    position: relative;
    left: 1000%;
    transition: left 0.3s; }
  .animation .air-container {
    padding: 30%; }
  .animation #ground {
    border: 1px solid black;
    background-color: green;
    width: 100%;
    padding: 10px; }
  .animation #mario {
    background-image: url(../images/mario_graphics1.png);
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 2;
    transition: width 0.3s, height 0.3s, left 0.3s, bottom 0.3s;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 96% 4.5%; }

footer {
  border: 1px solid black; }

@media screen and (min-width: 350px) {
  .animation #mario {
    bottom: 50px;
    left: 3%;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 77% 4.5%; }
  .animation #building-1 {
    left: 100%; } }

@media screen and (min-width: 360px) {
  .animation #mario {
    bottom: 75px;
    left: 6%;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 77% 4.5%; }
  .animation #building-1 {
    left: 90%; } }

@media screen and (min-width: 370px) {
  .animation #mario {
    bottom: 75px;
    left: 6%;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 77% 4.5%; }
  .animation #building-1 {
    left: 80%; } }

@media screen and (min-width: 380px) {
  .animation #mario {
    bottom: 100px;
    left: 9%;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 77% 4.5%; }
  .animation #building-1 {
    left: 70%; } }

@media screen and (min-width: 390px) {
  .animation #mario {
    bottom: 109px;
    left: 12%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 59% 4.5%; }
  .animation #building-1 {
    left: 0%; } }

@media screen and (min-width: 400px) {
  .animation #mario {
    bottom: 109px;
    left: 12%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    width: 30px;
    height: 60px;
    background-size: 778% 390%;
    background-position: 96% 4.5%; }
  .animation #ufo {
    opacity: .5; }
  .animation #building-2,
  .animation #building-3,
  .animation #building-4 {
    left: 0%; } }

@media screen and (min-width: 410px) {
  .animation #ufo {
    opacity: 1; } }

@media screen and (min-width: 420px) {
  .animation #ufo {
    opacity: 1; }
  .animation #beam {
    opacity: 0.4; } }

@media screen and (min-width: 430px) {
  .animation #mario {
    width: 30px;
    height: 20px;
    background-size: 778% 670%;
    background-position: 440% 92.5%; } }

@media screen and (min-width: 440px) {
  .animation #mario {
    bottom: 120px; }
  .animation #beam {
    opacity: 0; } }

@media screen and (min-width: 450px) {
  .animation #mario {
    bottom: 50px; } }

@media screen and (min-width: 460px) {
  .animation #mario {
    bottom: 0px; } }

@media screen and (min-width: 470px) {
  .animation #mario {
    display: none; } }

@media screen and (min-width: 480px) {
  .animation .air-container {
    background-image: url(../images/star-wars_po-zu_porg-sneakers.png);
    background-size: 100% auto; } }
